{% extends 'admin/layouts/base.twig' %}
{% block title %}{{ title }} > Edit - {% endblock %}

{% block content %}

<div id="subheader">
    <h3 class="page-title">{{ title | upper}}</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path_for('app.home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path_for('app.'~page) }}">{{ title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar</li>
        </ol>
    </nav>
    <a href="{{ path_for('app.'~page)}}" class="btn btn-secondary"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Voltar</a>
</div>

{% include "components/notifications.twig" %}

<form action="{{ path_for('app.'~page~'.update', {'id': d.id} )}}" method="POST" enctype="multipart/form-data" id="validate">
<div class="panel">
    <div class="panel-body">
    
        <h3>DADOS</h3>
        <div class="row">
            <div class="form-group col-sm-12">            
                <label>Nome: </label>
                <input type="text" name="nome" class="form-control" value="{{ d.nome }}" validate>
            </div> 
            <div class="form-group col-sm-6">
                <label>Contato:</label>
                <input type="text" name="contato" class="form-control" value="{{ d.contato }}" validate>
            </div>
            <div class="form-group col-sm-6">
                <label>Documento:</label>
                <input type="text" name="documento" class="form-control" value="{{ d.documento }}" validate>
            </div>
            <div class="form-group col-sm-5">
                <label>Endereço:</label>
                <input type="text" name="endereco" class="form-control" value="{{ d.endereco }}" validate>
            </div>
            <div class="form-group col-sm-2">
                <label>Numero:</label>
                <input type="text" name="numero" class="form-control" value="{{ d.numero }}" validate>
            </div>
            <div class="form-group col-sm-3">
                <label>Bairro:</label>
                <input type="text" name="bairro" class="form-control" value="{{ d.bairro }}" validate>
            </div>
            <div class="form-group col-sm-2">
                <label>CEP:</label>
                <input type="text" name="cep" class="form-control cep" value="{{ d.cep }}" validate>
            </div>
            <div class="form-group col-sm-4">
                <label>Cidade:</label>
                <input type="text" name="cidade" class="form-control" value="{{ d.cidade }}" validate>
            </div>
            <div class="form-group col-sm-4">
                <label>Estado:</label>
                <select name="estado" class="form-control" validate>
                    <option value=""></option>
                    {% for e in estados %}
                    <option value="{{e.sigla}}" {{ (d.estado == e.sigla) ? 'selected' : '' }}>{{e.estado}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label>Referência:</label>
                <input type="text" name="referencia" class="form-control" value="{{ d.referencia }}">
            </div>
            <div class="form-group col-sm-4">
                <label>Telefone:</label>
                <input type="text" name="telefone" class="form-control fone" value="{{ d.telefone }}" validate>
            </div>
            <div class="form-group col-sm-4">
                <label>Whatsapp:</label>
                <input type="text" name="whatsapp" class="form-control fone" value="{{ d.whatsapp }}" validate>
            </div>
            <div class="form-group col-sm-4">
                <label>E-mail:</label>
                <input type="email" name="email" class="form-control" value="{{ d.email }}" validate>
            </div>
            <div class="form-group col-sm-12">            
                <label>Link Google: </label>
                <input type="text" name="googlemaps" class="form-control" value="{{ d.googlemaps }}" validate>
            </div>            
        </div>

    </div>

    <div class="content-buttom">
        <button class="btn btn-primary btn-lg">ENVIAR <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
        <div id="formErro"></div>
    </div>

</div>    

</form>



{% endblock %}

{% block js %}
  <script>
    $(document).ready(function() {
       //teste
    });
  </script>
{% endblock %}