<h1>Contato</h1>
<p>
  Data: {{ d.data }}<BR>
  Nome: {{ d.nome }}<BR>
  E-mail: {{ d.email }}<BR>
  Telefone: {{ d.telefone }}<BR>
  Assunto: {{ d.assunto }}<BR>
  Cidade: {{ d.cidade }}<BR>
  Estado: {{ d.estado }}<BR>
  Mensagem:<BR>
  {{ d.mensagem|nl2br }}<BR>
</p>

